.container {
  position: relative;
  overflow: hidden;
  color: #fff;
  background: #000;
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container:hover {
  color: #fff;
}

.container.loading {
  background-color: #f3f3f3 !important;
}

.container:not(:disabled)::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 70px;
  height: 100%;
  top: 0;
  filter: blur(15px);
  transform: translateX(-170px) skewX(-15deg);
}

.container:not(:disabled)::after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  width: 50px;
  height: 100%;
  top: 0;
  filter: blur(15px);
  transform: translateX(-170px) skewX(-15deg);
}

.container:not(:disabled):hover::before,
.container:not(:disabled):hover::after {
  transform: translateX(280px) skewX(-15deg);
  transition: 1s;
}

@media screen and (min-width: 640px) {
  .container {
    width: auto;
  }
}

.primary__button {
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  margin: 10px;
  cursor: pointer;
}
